body {
    text-align: center;
    background-color: rgb(102, 28, 77);
    color: white;
}

button {
    cursor: pointer;
    color: rgb(102, 28, 77);
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    font-weight: bold;
    color: rgb(102, 28, 77);
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}