<li>
	{{burger_name}}

	<button class="devour-burger" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Devour it!{{/if}}
	</button>
<!--
	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button> -->
</li>